// Variables
$dark-color :#525f7f;
$blue-color : #0070f4;

// Mixin
@mixin breakpoint($type, $breakpoint) {
  @media only screen and (#{$type}-width: $breakpoint) {
    @content;
  }
}

// General
* {
  font-size: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  :after,:before {
    box-sizing: border-box;
  }
}
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: $dark-color;
  text-align: left;
  padding-bottom: 80px;
  background: rgb(247, 248, 253);
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: $dark-color;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: 600;
}
table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  @include breakpoint(max,768px) {
    border: 0;
  }
  caption {
    font-size: 15px;
    text-align: left;
    background: #fff;
    font-weight: 600;
    padding: 25px 40px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    @include breakpoint(max,768px) {
      font-size: 14px;
      padding: 15px 20px
    }
  }
  tr {
    border-top: 1px solid rgb(249, 250, 253);
    @include breakpoint(max,768px) {
      display: block;
      border-top: 1px solid #f0f0f0;
      padding: 0 15px;
    }
  }
}
thead {
  background: #fbfbfb;
  @include breakpoint(max,768px) {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}
table th,
table td {
  padding: 11px 5px;
  text-align: center;
  font-size: 14px;
  @include breakpoint(max,768px) {
    display: block;
    font-size: .8em;
    text-align: right;
    &::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 11px;
    }
    &:last-child {
      border-bottom: 0;
    }
  }
}
table th {
  font-size: 11px;
  letter-spacing: 0;
  text-transform: uppercase;
  font-weight: 600;
}

// Grid
.container {
  max-width: 1220px;
  margin: 0 auto;
  width: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
  &:before {
    display: table;
    content: " ";
    clear: both;
  }
}
.col-3 {
  width: calc(25% - 20px);
  margin: 0 10px;
  @include breakpoint(max,768px) {
    width: calc(100% - 20px);
  }
}
.col-4 {
  width: calc(33.3333% - 20px);
  margin: 0 10px;
  @include breakpoint(max,768px) {
    width: calc(100% - 20px);
  }
}
.col-6 {
  width: calc(50% - 20px);
  margin: 0 10px;
  @include breakpoint(max,768px) {
    width: calc(100% - 20px);
  }
}
.col-8 {
  width: calc(66.6666% - 20px);
  margin: 0 10px;
  @include breakpoint(max,768px) {
    width: calc(100% - 20px);
  }
}
.col-9 {
  width: calc(75% - 20px);
  margin: 0 10px;
  @include breakpoint(max,768px) {
    width: calc(100% - 20px);
  }
}
.col-12 {
  width: calc(100% - 20px);
  margin: 0 10px;
}

// Utility
.mt-80 {
  margin-top: 80px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-25 {
  margin-top: 25px;
}
// Animations
.fade-anim-enter {
  opacity: 0;
  &-active {
    opacity: 1;
    transition: opacity 200ms;
  }
}
.fade-anim-exit {
  opacity: 1;
  &-active {
    opacity: 0;
    transition: opacity 200ms;
  }
}
.exp-anim-enter {
  opacity: 0;
  transform: translateY(100px);
  &-active {
    opacity: 1;
    transform: translateY(0);
    transition: all 400ms;
  }
}

// Navbar
.navbar {
  position: relative;
  background: #ffffff;
  padding: 28px 38px;
  border-radius: 5px;
  margin: 30px 0;
  box-shadow: -2px 0px 17px rgba(244, 245, 247, 0.65);
  border: 1px solid #f0f0f0;
  .open-sidenav-btn {
    display: inline-block;
    position: relative;
    top: 1px;
    cursor: pointer;
    margin-right: 35px;
    svg {
      fill: $dark-color;
    }
  }
  .close-sidenav-btn {
    position: fixed;
    left: 170px;
    top: 21px;
    z-index: 999;
    svg {
      fill: $dark-color;
    }
  }
  ul {
    list-style: none;
    display: inline-block;
    position: relative;
    top: -5px;
    @include breakpoint(max,768px) {
      position: fixed;
      top: 0;
      left: 0;
      background: #fff;
      box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
      min-width: 215px;
      height: 100%;
      z-index: 99;
      padding-top: 70px;
    }
    li {
      display: inline-block;
      margin: 0 17px;
      font-size: 14px;
      .top {
        display: none;
        @include breakpoint(max,768px) {
          display: block;
          svg {
            display: block;
            margin: 0 auto 10px;
            width: 27px;
            height: 27px;
            fill: $dark-color;
            transform: rotate(60deg);
          }
          span {
            text-align: center;
            display: block;
            font-weight: 600;
            font-size: 13px;
            padding-bottom: 35px;
            margin-bottom: 35px;
            border-bottom: 1px dashed #ddd;
            text-transform: uppercase;
          }
        }
      }
      @include breakpoint(max,768px) {
        display: block;
        margin: 20px 30px;
        font-weight: 600;
        font-size: 13px;
      }
    }
  }
  .logout-btn {
    float: right;
    margin-right: 35px;
    position: relative;
    top: 1px;
    svg {
      position: absolute;
      right: -17px;
      top: 4px;
      fill: $dark-color;
    }
    @include breakpoint(max,768px) {
      margin-right: 10px;
    }
  }
  @include breakpoint(max,768px) {
    padding: 18px 28px;
    border-radius: 0;
    margin: 0 0 30px;
    border: 0;
    border-bottom: 1px solid #eaeaea;
  }
}

// Buttons
.btn {
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 12px;
  padding: 4px 10px;
  font-weight: 500;
  cursor: pointer;
  border:none;
  box-shadow: none;
  outline: none;
  font-family: inherit;
  &.blue {
    background-color: $blue-color;
    box-shadow: 0 4px 14px 0 rgba(0,118,255,0.39);
    color: white;
  }
  &.white {
    background: #ffffff;
    color: $dark-color;
  }
  &.dark {
    background: $dark-color;
    color: #ffffff;
  }
  &.outline {
    border: 1px solid rgba(82, 95, 127, 0.47);
    color: $dark-color;
    background: transparent;
  }
  &.regular {
    padding: 10px 18px;
  }
  &.block {
    padding: 15px 40px;
    width: 100%;
    display: block;
    text-align: center;
  }
  &.disable {
    background-color: rgb(173, 181, 201);
    box-shadow: none;
    color: white;
    cursor: auto;
  }
  &.publish {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  &.cancel-edit {
    background: #ffffff;
    color: #ea8377;
    margin: 10px 0 0;
    width: 100%;
    display: block;
  }
  &.upload-btn {
    position: absolute;
    right: 15px;
    top: 15px;
    @include breakpoint(max,768px) {
      top: 8px;
      padding: 9px 11px;
    }
  }
  &.quill-add-media {
    margin: 4px 0 15px;
    padding: 10px 18px 10px 41px;
    position: absolute;
    right: 16px;
    top: 68px;
    z-index: 4;
    background: #fff;
    font-weight: 600;
    color: #444444;
    text-transform: capitalize;
    opacity: .9;
    svg {
      position: absolute;
      left: 11px;
      top: 6px;
      width: 23px;
      fill: #2d2b2b;
    }
    @include breakpoint(max,1100px) {
      position: relative;
      top: initial;
      left: 2px;
      opacity: 1;
    }
  }
}

// Toast
.toast {
  position: fixed;
  border-radius: 4px;
  top: 40px;
  right: 40px;
  padding: 12px 25px;
  transform: translateY(-50px);
  transition: all .3s;
  opacity: 0;
  visibility: hidden;
  @include breakpoint(max,992px) {
    top: auto;
    bottom: 0;
    border-radius: 0;
    right: 0;
    width: 100%;
    text-align: center;
    transform: translateY(50px);
  }
  &.active {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
  &.green {
    background-color: #16a085;
    & p { color: #fff; }
  }
  &.red {
    background-color: #cb5245;
    & p { color: #fff; }
  }
  & p {
    color: #fff;
    font-size: 14px;
    white-space: nowrap;
  }
}

// inputs
.form-input {
  font-weight: 400;
  line-height: 1.7;
  color: #8898aa;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  min-height: 47px;
  padding: 0 20px;
  box-shadow: none;
  outline: none;
  font-size: 14px;
  font-family: inherit;
  width: 100%;
  margin: 5px 0;
  &::placeholder {
    color: #bfcad6;
  }
  &.title-input {
    border-color: #f0f0f0;
    margin-bottom: 10px;
    margin-bottom: 10px;
    color: #525f7f;
    font-size: 13px;
    font-weight: 600;
  }
}

// check box
.form-checkbox {
  position: absolute;
  opacity: 0;
  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }
  & + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: #ededf2;
    border-radius: 2px;
  }
  &:hover + label:before {
    background: $blue-color;
  }
  &:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }
  &:checked + label:before {
    background: $blue-color;
  }
  &:checked + label:after {
    content: '';
    position: absolute;
    left: 6px;
    top: 7px;
    background: white;
    width: 8px;
    height: 8px;
    border-radius: 10px;
  }
}

// card
.card {
  background: #ffffff;
  border-radius: 5px;
  box-shadow: -2px 0px 17px rgba(244, 245, 247, 0.65);
  border: 1px solid #f0f0f0;
}

// overlay
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(82, 95, 127, 0.47);
  z-index: 98;
}

// Quill
.quill {
  background: #ffffff;
  .ql-container {
    font-family: Inter, Arial, sans-serif;
  }
  .ql-toolbar.ql-snow {
    border: 1px solid #f0f0f0 !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 14px;
    font-family: 'Inter', 'Helvetica', 'Arial', sans-serif;
  }
  .ql-container.ql-snow {
    border: 1px solid #f0f0f0 !important;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: none !important;
  }
  .ql-editor {
    padding: 30px 35px !important;
  }
}
.quill-success-upload-media {
  svg {
    fill: #16a085;
    margin-top: 45px;
  }
  p {
    color: #16a085;
    padding: 11px 64px;
    font-size: 14px;
    border-radius: 3px;
    margin: 0 24px 39px;
    text-align: center;
  }
}
// Modal
.modal {
  &-container {
    background: rgba(82, 95, 127, 0.47);
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &-content {
    width: 96%;
    max-width: 600px;
    background: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
    border-radius: 5px;
  }
  &-header {
    padding: 15px 20px;
    font-weight: 700;
    font-size: 15px;
  }
  &-body {
    padding: 20px 30px;
    line-height: 30px;
    font-size: 15px;
  }
  &-footer {
    padding: 10px 15px;
    background: #f8f8f8;
    font-size: 14px;
  }
}
.close-modal-btn {
  position: absolute;
  right: 10px;
  top: 8px;
}

// Tooltip
.tooltip {
  position: relative;
  &:after,&:before {
    display: block;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    z-index: 2;
  }
  &::after {
    border-right: 6px solid transparent;
    border-bottom: 6px solid $dark-color;
    border-left: 6px solid transparent;
    content: '';
    height: 0;
    top: 20px;
    left: 50%;
    width: 0;
  }
  &::before {
    background: $dark-color;
    border-radius: 2px;
    color: rgba(247, 248, 253, 0.88);
    content: attr(data-title);
    font-size: 13px;
    padding: 6px 10px;
    top: 26px;
    left: 50%;
    white-space: nowrap;
  }
  &.fade {
    &:before,&:after {
      transform: translate3d(0,-10px,0) translateX(-50%);
      transition: all .15s ease-in-out;
    }
    &:hover {
      &::before,&:after {
        opacity: 1;
        transform: translate3d(0,0,0) translateX(-50%);
      }
    }
  }
}

// Extra Fields
.extra-field {
  text-align: center;
  padding: 10px;
  cursor: pointer;
  margin: 10px 0;
  position: relative;
  z-index: 2;
  svg {
    width: 17px;
    height: 17px;
    fill: #525f7f;
  }
}
.extra-fields-container {
  padding: 30px 33px 40px;
  position: relative;
  @include breakpoint(max,768px) {
    padding: 20px 15px;
  }
  h4 {
    font-size: 15px;
    margin: 0 0 20px 12px;
  }
  .btn {
    margin-left: 10px;
  }
}
.remove-field-btn {
  position: absolute;
  right: 45px;
  margin-top: 10px;
  @include breakpoint(max,768px) {
    right: 30px;
  }
}
.extra-fields-content-container {
  position: relative;
  padding: 15px;
  margin: 10px 0;
  .form-input {
    min-height: 43px;
  }
  .remove-field-btn {
    margin-top: 8px;
  }
}

// Login
.login-page {
  margin: 11% 0 60px;
  .form-wrapper {
    max-width: 500px;
    margin: 0 auto;
    padding: 50px 45px 45px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: -2px 0px 17px rgba(244, 245, 247, 0.65);
    border: 1px solid #f0f0f0;
    @include breakpoint(max,520px) {
      margin: 0 10px;
      box-shadow: none;
      border: none;
    }
    @include breakpoint(max,400px) {
      padding: 30px 20px 30px
    }
    .login-icon {
      width: 36px;
      height: 37px;
      margin: 0 auto 18px;
      display: block;
      fill: $dark-color;
    }
    h1 {
      text-align: center;
      margin-bottom: 40px;
      font-weight: 600;
    }
    .form-input {
      margin: 7px 0;
    }
    .login-btn {
      padding: 16px 40px;
      margin-top: 22px;
      display: inline-block;
    }
    .form-checkbox + label {
      display: block;
      font-weight: 600;
      font-size: 14px;
      margin: 30px 0 20px;
      color: #979fb3;
    }
  }
}

// Not found
.not-found {
  margin-top: 15%;
  text-align: center;
  h1 {
    font-size: 70px;
    @include breakpoint(max,768px) {
      font-size: 40px;
    }
  }
  p {
    margin-bottom: 30px;
    @include breakpoint(max,768px) {
      font-size: 15px;
    }
  }
  @include breakpoint(max,768px) {
    margin-top: 30%;
  }
}

// Loading
.loading {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  > div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 6px;
    background: $dark-color;
    animation: loadingAmin 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    &:nth-child(1) {
      left: 20px;
      animation-delay: -0.24s;
    }
    &:nth-child(2) {
      left: 32px;
      animation-delay: -0.12s;
    }
    &:nth-child(3) {
      left: 44px;
      animation-delay: 0s;
    }
  }
}
@keyframes loadingAmin {
  0% {
    top: 8px;
    height: 44px;
  }
  50%, 100% {
    top: 24px;
    height: 22px;
  }
}

// Others
.action {
  svg {
    width: 21px;
    height: 21px;
    margin: 0 6px;
    fill: $dark-color;
    cursor: pointer;
  }
}
.mime-type {
  display: inline-block;
  position: relative;
  top: 5px;
  right: 10px;
  svg {
    width: 18px;
    height: 18px;
    fill: $dark-color;
    opacity: .7;
  }
}
.choose-media {
  text-align: center;
  font-size: 13px;
  border: 1px dashed #ddd;
  margin: 17px;
  position: relative;
  .cover {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-image: var(--bg-image);
    background-position: center center;
    background-size: cover;
    z-index: -1;
    opacity: .7;
  }
  .text {
    background: #fff;
    padding: 5px;
    border-radius: 100px;
  }
}
.pagination {
  list-style: none;
  text-align: center;
  margin: 35px 0 25px 40px;
  border: 1px solid #f0f0f0;
  border-radius: 100px;
  display: inline-block;
  li {
    padding: 6px 6px;
    display: inline-block;
    font-size: 13px;
    margin: 0 3px;
    width: 33px;
    text-align: center;
    height: 33px;
    cursor: pointer;
    &.active {
      background: rgba(82, 95, 127, 0.05);
      border-radius: 100px;
    }
  }
}
.switch-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
  flex-wrap: wrap;
  > div {
    align-items: center;
    justify-content: space-around;
    display: flex;
    @include breakpoint(max,1100px) {
      flex: 0 0 100%;
      margin: 6px;
    }
  }
  span {
    font-size: 13px;
    margin-right: 10px;
  }
  .switch{
    visibility:hidden;
    width:0;
    height:0;
    margin:0;
    &:checked ~ label{
      background-color: #16a085;
      &:after{
        left: 20px;
      }
    }
  }
  label{
    position: relative;
    display: inline-block;
    width: 34px;
    height: 16px;
    background-color: #dbddea;
    border-radius: 2px;
    transition: background 0.3s linear;
    cursor: pointer;
    &::after{
      content:'';
      position:absolute;
      left:1px;
      top:1px;
      width: 13px;
      height: 14px;
      border-radius: 1px;
      background-color:#ffffff;
      transition: left 0.3s ease-out;
    }
  }
}
.uploading-media-loading {
  background: rgba(219, 221, 234, 0.67);
  background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-size: 1rem 1rem;
  animation: progress-bar-stripes 2s linear infinite;
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
.no-data {
  text-align: center;
  margin-top: 40px;
  font-size: 15px;
}
